@font-face {
   font-family: "bubblegum";
   src: url("../assets/fonts/bubblegumsans-regular-webfont.woff2")
         format("woff2"),
      url("../assets/fonts/bubblegumsans-regular-webfont.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}

/* .hero {
   background-color: #4caf50;
   color: white;
   text-align: center;
   padding: 50px;
   height: 80vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
} */

.hero {
   position: relative;
   background-image: url("https://themezinho.net/seodo/images/slide03.jpg");
   background-size: cover;
   background-position: center;
   color: white;
   text-align: center;
   padding: 0px;
   height: 90vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.hero::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.3);
   z-index: 1;
}

.hero > * {
   position: relative;
   z-index: 2;
}

.heroHeading {
   font-size: 70px;
   margin-bottom: 10px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.heroText {
   font-size: 30px;
   margin-top: 0px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.home {
   overflow-x: hidden;
   font-family: "bubblegum", sans-serif;
}

.cta-btn {
   padding: 10px 20px;
   background-color: #cfdd66;
   color: #000;
   border: none;
   cursor: pointer;
   font-size: 20px;
   font-family: "bubblegum", sans-serif;
   letter-spacing: 1px;
}

.about,
.features {
   padding: 40px;
   text-align: center;
}

.feature-item {
   margin: 20px 0;
}

footer {
   background-color: #333;
   color: white;
   text-align: center;
   padding: 10px;
   position: flex;
   width: 100%;
   bottom: 0;
}
