/* frontend/src/pages/Shortages.css */
.shortages-page {
   padding: 20px;
}

.shortage-count {
   font-size: 18px;
   margin-bottom: 20px;
}

.filter-section {
   margin-bottom: 20px;
}

.filter-section label {
   margin-right: 10px;
}

.filter-section select {
   padding: 5px;
}

.shortages-list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 20px;
}

.shortage-item {
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 15px;
   text-align: center;
}

.commodity-image {
   max-width: 30%;
   height: auto;
   /* margin-bottom: 5px; */
}

.custom-swal-popup {
   width: 500px; /* Adjust width */
   padding: 20px;
}

.custom-swal-input {
   display: block;
   width: calc(100% - 20px);
   margin: 10px 0;
   padding: 10px;
   font-size: 14px;
   border: 1px solid #ccc;
   border-radius: 4px;
}
.ModalItemDropdown {
   width: 100%;
}

.swal2-html-container {
   overflow-x: hidden;
}

/* .modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.75);
   z-index: 1000;
}

.modal-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #fff;
   padding: 20px;
   border-radius: 8px;
   max-width: 500px;
   width: 100%;
} */
.shortage-item {
   position: relative; /* Make the tile the positioning context for the button */
   padding: 10px;
   border: 1px solid #ccc;
   margin: 10px;
   border-radius: 5px;
   background-color: #fff;
   /* Adjust based on your layout */
   overflow: hidden;
}

.delete-button {
   position: absolute; /* Position relative to the tile */
   top: 10px; /* Adjust spacing from the top */
   right: 10px; /* Adjust spacing from the right */
   background-color: darkred;
   color: #fff;
   border: none;
   border-radius: 50%;
   font-size: 16px;
   width: 30px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   z-index: 10; /* Ensure it's above other content */
}
